<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-8 mb-6 mb-md-0">
                <h1 class="display-4 fw-bold mb-4 text-primary">Application Features</h1>
                <ul class="list-group fs-4 mb-4">
                    <li class="list-group-item text-primary">User Authentication with Google</li>
                    <li class="list-group-item text-primary">Create, Read, Update, and Delete Notes</li>
                    <li class="list-group-item text-primary">Search Notes by Title or Content</li>
                    <li class="list-group-item text-primary">Responsive Design with Bootstrap</li>
                    <li class="list-group-item text-primary">Secure Session Management</li>
                    <li class="list-group-item text-primary">Hosted on GitHub</li>
                </ul>
            </div>
        </div>
    </main>
</div>