<div class="container-fluid container-fluid-custom py-md-5 mb-5">
<main>
    <div class="row py-md-5 text-center justify-content-center">
        <div class="col-md-12 col-lg mb-6 mb-md-0">
            <h1 class="display-2 fw-bold mb-4 position-relative home-title">Welcome to Notes</h1>
            <p class="fs-4 mb-4">A extremly simple note-taking app created using NEM Stack</p>
            <a href="/auth/google" class="btn btn-primary">Try Notes, they are free</a> 
        </div>
    </div>
</main>

</div>